/* Write your CSS code here */
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.about-img {
  width: 20%;
}
.about-heading {
  font-family: 'Roboto';
  font-weight: 500;
  color: #551e53;
}
.about-paragraph {
  font-family: 'Roboto';
  font-size: 20px;
  text-align: center;
  color: #555555;
}
