/* Write your CSS code here */
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.contact-img {
  width: 20%;
}
.contact-heading {
  color: #551e53;
  font-weight: 500;
  font-family: 'Roboto';
}
